# Build directories
/build/
/bin/
/*.exe

# CMake temporary files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# OS files
.DS_Store
Thumbs.db

# SQLite database
/data/*.db

#local build script
build.cmd

#build folder
build/

#vscode
.vscode/

#python
**/__pycache__